<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mamits.apnaonlines.userv">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.mamits.apnaonlines.userv.MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme_NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBqqRDGvGCxSP4cSi4kZseS6oeL-uU7SRg" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_icon" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name="com.mamits.apnaonlines.userv.ui.activity.ImgPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mamits.apnaonlines.userv.ui.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.mamits.apnaonlines.userv.ui.activity.ChatHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mamits.apnaonlines.userv.ui.activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mamits.apnaonlines.userv.ui.activity.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mamits.apnaonlines.userv.ui.activity.ChangePwdActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mamits.apnaonlines.userv.ui.activity.EnquirySupportWebviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mamits.apnaonlines.userv.ui.activity.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mamits.apnaonlines.userv.ui.activity.FilePreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mamits.apnaonlines.userv.ui.activity.FormPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mamits.apnaonlines.userv.ui.activity.OffersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mamits.apnaonlines.userv.ui.activity.PaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mamits.apnaonlines.userv.ui.activity.InvoicePreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name="com.mamits.apnaonlines.userv.fcm.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- [END firebase_service] -->
        <service
            android:name="com.mamits.apnaonlines.userv.fcm.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <!-- Keep it true in UAT environment for both the flags-->
        <meta-data
            android:name="com.phonepe.android.sdk.isUAT"
            android:value="false"/>
        <meta-data
            android:name="com.phonepe.android.sdk.isSimulator"
            android:value="false"/>

        <!-- The value will be the MID-->
        <meta-data
            android:name="com.phonepe.android.sdk.MerchantId"
            android:value="APNAONLINES"/>

        <!-- For UAT, App Id is not required.
        Make sure to add the following and you get the APP Id for Production after UAT Sign-off -->
        <!--<meta-data
            android:name="com.phonepe.android.sdk.AppId"
            android:value="<your app id given by PhonePe>"/>-->
    </application>

</manifest>